.my-item {
  &-card {
    height: 100%;
    display: flex;
    margin: 0.5rem;
    align-items: center;
    

    border-radius: 1rem !important;
    &-header {
    }
    &-icon {
    }

    &-content {
      padding-top: 20px !important;
      padding-bottom: 16px !important;
      padding-left: 0 !important;
      &-title{
      }
    }
  }

}
.add-devices {
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon {
      font-size: 0.5rem;
      margin:0  0.5rem;
    }
  }
}